{% extends "base/common.html" %}

{% block container %}
<style>
  body{padding: 0 0; overflow: hidden}
</style>
<script>

$(document).ready(function () {

    var mainMenuCache = {'my-games': null,   //Used to cache Ajax request results.
                         'my-actors': null,
                         'my-actors-names': null};
    var $mainmenu = $("#mainmenu");
    var $mainmenu_content = $("#mainmenu-content");
    var $mainmenu_scroller = $("#mainmenu-scroller");
    var $mainmenu_buttons = $("#mainmenu-buttons");
    var $mainmenu_header = $("#mainmenu-header");
    

    //Open the actorInfo on the page.
    $("#open-actorinfo").click(function (event){
        $("#opened-actorinfo").show();
        $("#closed-actorinfo").hide();
        // $.ajax({
        //     type: "get",
        //     url: "/actors",
        //     contentType:"application/json",
        //     statusCode: {
        //         200: function(data)
        //         {
        //             $("#actorinfo-content").html(JSON.stringify(data, null, 4));
        //             $("#actorinfo").show();
        //             console.log(data);
        //         }
        //     }
        // })
    });

    //Close the actorInfo on the page
    $("#close-actorinfo").click(function (event){
        $("#opened-actorinfo").hide();
        $("#closed-actorinfo").show();
    });

    //Close the sidemenu on the page.
    $("#close-sidemenu").click(function (event){
        $("#opened-sidemenu").hide();
        $("#closed-sidemenu").show();

    });

    //Open the sideemnu on the page.
    $("#open-sidemenu").click(function (event){
        $("#opened-sidemenu").show();
        $("#closed-sidemenu").hide();
    });

    //Tiny button for closing the mainmenu.
    $("#close-mainmenu").click(function (event){
        flush_mainmenu();
        $("#mainmenu").hide();
    });

    //if 'w' or 's' anywhere on document, adding/deleting is enabled
    $(document).keypress(function (e) {
        //console.log("Handler for .keypress() called.");
        //119 is the keycode for 'w' AND 87 is 'W'
        if (e.which == 119 || e.which == 87) {
            //console.log("w was pressed");
            document.getElementById("adding").click();
        }
        //83 is the keycode for 'S' AND 115 is 's'
        if (e.which == 83 || e.which == 115) {
            // console.log("s was pressed");
            document.getElementById("deleting").click();
        }
    })

    //Action to occur if terrain is pressed
    $(document.getElementById("terrainUI")).click(function (event) {
        if(document.getElementById("adding").checked == true) {
            console.log("terrain is being added");
        } else {
            console.log("terrain is being deleted");
        }
    })

    //Action to occur if grass is pressed
    $(document.getElementById("grassUI")).click(function (event) {
        if(document.getElementById("adding").checked == true) {
            console.log("grass is being added");
        } else {
            console.log("grass is being deleted");
        }
    })

    //Action to occur if rock is pressed
    $(document.getElementById("rockUI")).click(function (event) {
        if(document.getElementById("adding").checked == true) {
            console.log("rock is being added");
        } else {
            console.log("rock is being deleted");
        }
    })

    //Action to occur if water is pressed
    $(document.getElementById("waterUI")).click(function (event) {
        if(document.getElementById("adding").checked == true) {
            console.log("water is being added");
        } else {
            console.log("water is being deleted");
        }
    })

    //Action to occur if plant is pressed
    $(document.getElementById("plantUI")).click(function (event) {
        if(document.getElementById("adding").checked == true) {
            console.log("plant is being added");
        } else {
            console.log("plant is being deleted");
        }
    })

    //Action to occur if mushroom is pressed
    $(document.getElementById("mushroomUI")).click(function (event) {
        if(document.getElementById("adding").checked == true) {
            console.log("mushroom is being added");
        } else {
            console.log("mushroom is being deleted");
        }
    })

    //Action to occur if wall is pressed
    $(document.getElementById("wallUI")).click(function (event) {
        if(document.getElementById("adding").checked == true) {
            console.log("wall is being added");
        } else {
            console.log("wall is being deleted");
        }
    })

    //Action to occur if block is pressed
    $(document.getElementById("blockUI")).click(function (event) {
        if(document.getElementById("adding").checked == true) {
            console.log("block is being added");
        } else {
            console.log("block is being deleted");
        }
    })

    //Action to occur if agent is pressed
    $(document.getElementById("agentUI")).click(function (event) {
        if(document.getElementById("adding").checked == true) {
            console.log("agent is being added");
        } else {
            console.log("agent is being deleted");
        }
    })

    //Open main menu with options for choosing a game to load.
    $("#load-game-side-btn").click(function (event){
        if (mainMenuCache['my-games'])
        {
            console.log("Fetched info from cache.");
            setup_loadgame_menu(mainMenuCache['my-games']);
        }
        else {
            $.ajax({
                type: "get",
                url: "/games/mine",
                contentType:"application/json",
                statusCode: {
                    200: function(data)
                    {
                        console.log("Fetched info from Ajax.");
                        set_cache('my-games', data);
                        setup_loadgame_menu(data);
                    }
                }
            });
        }

    });

    $("#create-actor-side-btn").click(function(event){
        if (mainMenuCache['my-actors'] && mainMenuCache['my-actors-names'])
        {
            console.log("Fetched info from cache.");
            setup_createactor_menu(mainMenuCache['my-actors'], mainMenuCache['my-actors-names']);
        }
        else
        {
            $.ajax({
                type: "get",
                url: "/actors/mine",
                contentType:"application/json",
                statusCode: {
                    200: function(data)
                    {
                        //Save data in cache.
                        console.log("Fetched info from Ajax.");
                        set_cache('my-actors', data);

                        //Hash and set names of actors.
                        var namehash = {};
                        for(var i = 0; i < data.length; i++)
                        {
                            namehash[data[i]['title']] = true;
                        }
                        set_cache('my-actors-names', namehash);

                        setup_createactor_menu(data, namehash);
                    }
                }
            });
        }

    });


    //Use a dict to hold on to results for 30 seconds.
    function set_cache(key, value)
    {
        mainMenuCache[key] = value;
        window.setTimeout(function()
        {
            mainMenuCache[key] = null;
        }, 30000);
    }
    //In-case the cache needs to be cleared immediately.
    function clear_cache(key)
    {
        mainMenuCache[key] = null;
    }

    //Flush all html from the main menu.
    function flush_mainmenu()
    {
        $mainmenu_content.html("");
        $mainmenu_buttons.html("");
        $mainmenu_scroller.html("");
    }

    //Generate and display the loadgame menu screen.
    function setup_loadgame_menu(data)
    {
        var gamelist = [];
        for (var i = 0; i < data.length; i++)
        {
            gamelist.push("<button type='button' class='list-group-item loadable-game-select' " +
                    "id='loadable-game-"+data[i]['id']+"'>" + data[i]['title'] + "</button>")
        }
        if (gamelist.length == 0)
        {
            $mainmenu_content = "You have no games to load!";
        }

        flush_mainmenu();
        $("#mainmenu-header").html("Load a Game");
        $mainmenu_scroller.html(gamelist.join(""));
        $mainmenu_buttons.html("<button class='btn btn-default'>Load Game</button>");
        $mainmenu.show();

        $(".loadable-game-select").click(function (event)
        {
            var gameid = event['currentTarget']['id'];
            console.log(gameid);
        });

    }

    //Generate and display the createactor menu screen.
    function setup_createactor_menu(data, namehash)
    {
        flush_mainmenu();
        var lines = [];
        lines.push("<div class='input-group'>");
        lines.push("<span class='input-group-addon'>Actor Name</span>");
        lines.push("<input type='text' class='form-control' id='new-actor-name' placeholder='Geoffry'>");
        lines.push("</div><br>");
        lines.push("<b>Behaviour Script</b><br>");
        lines.push("<textarea class='actor-script-input' rows='40' cols='50' id='new-actor-script'>if myhunger < 40\nthen\n    do\n    walk(NORTH);\n    done\nfi</textarea>");

        $mainmenu_header.html("Create Actor");
        $mainmenu_content.html(lines.join(""));
        $mainmenu.show();
    }

    $("#closed-sidemenu").hide();
    $("#opened-actorinfo").hide();
});
</script>

<canvas id="simulation-render-target"></canvas>
<div class="sim-ui-container container">
    <div class="row fill">

        <div class="col-xs-1">
            <div class="closed-actorinfo" id="closed-actorinfo">
                <button class="btn btn-default sim-ui-element" id="open-actorinfo">Actor Info</button>
            </div>
            <div class="opened-actorinfo sim-ui-element" id="opened-actorinfo">
                <button class="btn btn-default" id="close-actorinfo">Close</button>
            </div>
        </div>

        <div class="col-xs-8 fill">
            <div class="main-menu sim-ui-element" id="mainmenu">
                <button type="button" class="close" id="close-mainmenu">×</button>
                <h3 id="mainmenu-header">Main Menu </h3>
                <hr>
                <div id="mainmenu-content">
                    <ul>
                        <li>First thing.</li>
                        <li>Next thing.</li>
                    </ul>
                </div>
                <ul class="list-group scrollable-menu" id="mainmenu-scroller">
                    <button type="button" class="list-group-item">1</button>
                    <button type="button" class="list-group-item">1</button>
                    <button type="button" class="list-group-item">1</button>
                    <button type="button" class="list-group-item">1</button>
                    <button type="button" class="list-group-item">1</button>
                    <button type="button" class="list-group-item">1</button>
                    <button type="button" class="list-group-item">1</button>
                    <button type="button" class="list-group-item">1</button>
                </ul>
                <hr>

                <div id="mainmenu-buttons" class="container">

                </div>

            </div>
        </div>
        <div class="col-xs-3 fill">
            <div class="opened-sidemenu sim-ui-element" id="opened-sidemenu">
                <button class="btn btn-default btn-sidemenu">Start New Game</button>
                <button class="btn btn-default btn-sidemenu" id="load-game-side-btn">Load Game</button>
                <button class="btn btn-default btn-sidemenu">Spectate Game</button>
                <hr>
                <button class="btn btn-default btn-sidemenu" id="create-actor-side-btn">Create Actor</button>
                <button class="btn btn-default btn-sidemenu">Modify Actor</button>
                <button class="btn btn-default btn-sidemenu">Add Actor</button>
                <button class="btn btn-default btn-sidemenu">Add Plants/Obstacles</button>
                <hr>
                <div class="push-to-bottom">
                    <button class="btn btn-default" id="close-sidemenu">Close Menu</button>
                </div>
            </div>
            <div class="closed-sidemenu" id="closed-sidemenu">
                <div class="push-to-bottom ">
                    <button class="btn btn-default sim-ui-element" id="open-sidemenu">Open Menu</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row fill"
        <div class="col-xs-10">
            <div class="toolbar-bottom sim-ui-element">
                <div class="btn-group">
                    <label class="radio-inline btn btn-primary"><input type="radio" name="alter" id="adding" checked>Add</label>
                    <label class="radio-inline btn btn-primary"><input type="radio" name="alter" id="deleting">Delete</label>
                </div>
                <div class="btn-group">
                    <label class="radio-inline btn btn-default"><input type="radio" name="elementUI" id="terrainUI">Terrain</label>
                    <label class="radio-inline btn btn-default"><input type="radio" name="elementUI" id="grassUI">Grass</label>
                    <label class="radio-inline btn btn-default"><input type="radio" name="elementUI" id="rockUI">Rock</label>
                    <label class="radio-inline btn btn-default"><input type="radio" name="elementUI" id="waterUI">Water</label>
                    <label class="radio-inline btn btn-default"><input type="radio" name="elementUI" id="plantUI">Plant</label>
                    <label class="radio-inline btn btn-default"><input type="radio" name="elementUI" id="mushroomUI">Mushroom</label>
                    <label class="radio-inline btn btn-default"><input type="radio" name="elementUI" id="wallUI">Wall</label>
                    <label class="radio-inline btn btn-default"><input type="radio" name="elementUI" id="blockUI">Block</label>
                    <label class="radio-inline btn btn-default"><input type="radio" name="elementUI" id="agentUI">Agent</label>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
