{% extends "base/common.html" %}

{% block container %}
<style>
  body{padding: 0 0; overflow: hidden}
</style>
<script>

$(document).on("loadview", function () {

    var mainMenuCache = {'my-games': null,   //Used to cache Ajax request results.
                         'my-actors': null,
                         'my-actors-names': null};
    var $mainmenu = $("#mainmenu");
    var $mainmenu_content = $("#mainmenu-content");
    var $mainmenu_content2 = $("#mainmenu-content2");
    var $mainmenu_scroller = $("#mainmenu-scroller");
    var $mainmenu_buttons = $("#mainmenu-buttons");
    var $mainmenu_header = $("#mainmenu-header");

    //Prevent links in tabs from firing if they have a disabled parent.
    //Used for 'game' tab on sidemenu.
    $(" a[data-toggle=tab]").on("click", function(e) {
        if ($(this.parentNode).hasClass("disabled")) {
            e.preventDefault();
            return false;
        }
    });

    //Open the actorInfo on the page.
    $("#open-actorinfo").click(function (event){
        $("#opened-actorinfo").show();
        $("#closed-actorinfo").hide();
        // $.ajax({
        //     type: "get",
        //     url: "/actors",
        //     contentType:"application/json",
        //     statusCode: {
        //         200: function(data)
        //         {
        //             $("#actorinfo-content").html(JSON.stringify(data, null, 4));
        //             $("#actorinfo").show();
        //             console.log(data);
        //         }
        //     }
        // })
    });

    //Close the actorInfo on the page
    $("#close-actorinfo").click(function (event){
        $("#opened-actorinfo").hide();
        $("#closed-actorinfo").show();
    });

    //Close the sidemenu on the page.
    $("#close-sidemenu").click(function (event){
        $("#sidemenu-col").hide();
        $("#open-sidemenu").show();
        $("#close-sidemenu").hide();
        $("#mainmenu-col").addClass("col-xs-offset-1");
    });

    //Open the sideemnu on the page.
    $("#open-sidemenu").click(function (event){
        $("#sidemenu-col").show();
        $("#open-sidemenu").hide();
        $("#close-sidemenu").show();
        $("#mainmenu-col").removeClass("col-xs-offset-1");


    });

    //Tiny button for closing the mainmenu.
    $("#close-mainmenu").click(function (event){
        flush_mainmenu();
        $("#mainmenu").hide();
    });

    $("#close-stats").click(function (event) {
        $("#cell-stats").hide()
    });

    $('#cell-click').popover({
        html:true,
        content: $('#cont').html()
    });


    /*
    //if 'w' or 's' anywhere on document, adding/deleting is enabled
    $(document).keypress(function (e) {
        console.log("Handler for .keypress() called.");
        //119 is the keycode for 'w' AND 87 is 'W'
        if (e.which == 119 || e.which == 87) {
            console.log("w was pressed");
            document.getElementById("adding").click();
        }
        //83 is the keycode for 'S' AND 115 is 's'
        if (e.which == 83 || e.which == 115) {
             console.log("s was pressed");
            document.getElementById("deleting").click();
        }

    });
    */

    //Use a dict to hold on to results for 30 seconds.
    function set_cache(key, value, expire)
    {
        if(expire === null)
        {
            expire = false;
        }

        mainMenuCache[key] = value;
        if (expire)
        {
            window.setTimeout(function()
            {
                mainMenuCache[key] = null;
            }, 30000);
        }
    }

    //In-case the cache needs to be cleared immediately.
    function clear_cache(key)
    {
        mainMenuCache[key] = null;
    }

    //Flush all html from the main menu.
    function flush_mainmenu()
    {
        $mainmenu_header.html("");
        $mainmenu_content2.html("");
        $mainmenu_content.html("");
        $mainmenu_buttons.html("");
        $mainmenu_scroller.html("");
        $mainmenu_scroller.hide();
    }

    //Checks if actor info is cached, or else fetches it.
    function refresh_actor_cache(user)
    {
        if (user == null) {
            if (mainMenuCache['my-actors'] && mainMenuCache['my-actors-names']) {
                console.log("Fetched info from cache.");
            }
            else {
                $.ajax({
                    type: "get",
                    url: "/actors/mine",
                    contentType: "application/json",
                    async: false,
                    statusCode: {
                        200: function (resp) {
                            //Save data in cache.
                            console.log("Fetched info from Ajax.");
                            set_cache('my-actors', resp);

                            //Hash and set names of actors.
                            var namehash = {};
                            for (var i = 0; i < resp.length; i++) {
                                namehash[resp[i]['title']] = true;
                            }
                            set_cache('my-actors-names', namehash);
                            set_cache('my-actors', resp);
                        }
                    }
                });
            }
        }
        else {
            $.ajax({
                type: "get",
                url: "/actors/?creator="+user,
                contentType: "application/json",
                async: false,
                statusCode: {
                    200: function (resp) {
                        //Save data in cache.
                        console.log("Fetched info from Ajax.");
                        set_cache(user + '-actors', resp);
                    }
                }
            });
        }

    }

    //Checks if game info is cached, or else fetches it.
    function refresh_game_cache()
    {
        if (mainMenuCache['my-games'])
        {
            console.log("Fetched info from cache.");
        }
        else {
            $.ajax({
                type: "get",
                url: "/games/mine",
                async: false,
                contentType:"application/json",
                statusCode: {
                    200: function(resp)
                    {
                        console.log("Fetched info from Ajax.");
                        set_cache('my-games', resp);
                    }
                }
            });
        }
    }

    function refresh_active_games()
    {
        $.ajax({
            type: "get",
            url: "/games/active",
            async: false,
            contentType:"application/json",
            statusCode: {
                200: function(resp)
                {
                    console.log("Fetched info from Ajax.");
                    set_cache('active-games', resp);
                }
            }
        });
    }

    //Draw a status update in the main menu.
    function draw_status_menu(header, message)
    {
        flush_mainmenu();
        $mainmenu_header.html(header);
        $mainmenu_content.html(message);
        $mainmenu_buttons.html("<button class='btn btn-default' id='close-mainmenu-btn'>Close</button>");
        $("#close-mainmenu-btn").click(function(event)
        {
            flush_mainmenu();
            $("#mainmenu").hide();
        });

    }
    //Open main menu with options for choosing a game to load.
    $("#create-game-side-btn").click(function (event){
        refresh_game_cache();
        setup_creategame_menu(mainMenuCache['my-games']);
    });

    //Open main menu with options for choosing a game to load.
    $("#load-game-side-btn").click(function (event){
        setup_game_select_menu({'load': true});
    });

    $("#spectate-game-side-btn").click(function (event){
        setup_game_select_menu({'spectate': true});
    });

    //Click listener for the create-actor button in the sidemenu.
    $("#create-actor-side-btn").click(function(event){

        refresh_actor_cache();
        setup_createactor_menu(mainMenuCache['my-actors'], mainMenuCache['my-actors-names']);
    });

    //Click listener for the modify-actor button in the sidemenu.
    $("#modify-actor-side-btn").click(function (event) {
        setup_actor_select_menu({'modify': true});
    });

    $("#add-actor-side-btn").click(function(event){
        setup_actor_select_menu({'add-to-game':true});
    });

    $("#copy-actor-side-btn").click(function(event){
        setup_user_select_menu({'copy': true});
    });

    //Sets up a menu for selecting from one of your existing games. Action
    //on choosing an actor can be controlled via options.
    function setup_game_select_menu(options)
    {
        flush_mainmenu();
        var data;
        var error_msg;
        var gamelist = [];
        var menu_header;


        //Use my-games or active-games depending on context.
        if(options['spectate'])
        {
            refresh_active_games();
            data = mainMenuCache['active-games'];
            error_msg = "There are no running games right now!";
            menu_header = "Choose a game to spectate."
            for (var i = 0; i < data.length; i++)
            {
                gamelist.push("<button type='button' class='list-group-item loadable-game-select' data-game-title='" + data[i]['title'] + "'"+
                        "id='loadable-game-"+data[i]['id']+"'><b>" + data[i]['title'] +
                        "</b> - Hosted by <i>"+data[i]['creator']['username']+"</i> - On turn "+data[i]['current_turn_number']+"</button>")
            }
        }
        else
        {
            refresh_game_cache();
            data = mainMenuCache['my-games'];
            error_msg = "You have no games!";
            for (var i = 0; i < data.length; i++)
            {
                gamelist.push("<button type='button' class='list-group-item loadable-game-select' data-game-title='" + data[i]['title'] + "'"+
                        "id='loadable-game-"+data[i]['id']+"'><b>" + data[i]['title'] + "</b></button>")
            }
            menu_header = "Choose a game."
        }


        if (gamelist.length == 0)
        {
            $mainmenu_content.html(error_msg);
        }
        if(options['load'] && gamelist.length != 0)
            $mainmenu_buttons.html("<button class='btn btn-default'>Load Game</button>");

        $("#mainmenu-header").html(menu_header);
        $mainmenu_scroller.html(gamelist.join(""));

        $mainmenu.show();
        $mainmenu_scroller.show();


        if(options['load']) {
            $(".loadable-game-select").click(function (event) {
                var gameid = event['currentTarget']['id'];
                var gametitle = event['currentTarget'].getAttribute("data-game-title");
                gameid = gameid.split("-")[2];
                window.CONTROLLER.loadGame(gametitle, gameid)
            });
        }
        if(options['spectate'])
        {
            $(".loadable-game-select").click(function (event) {
                var gameid = event['currentTarget']['id'];
                var gametitle = event['currentTarget'].getAttribute("data-game-title");
                gameid = gameid.split("-")[2];
                window.CONTROLLER.loadGame(gametitle, gameid, true);
            });
        }
        if(options['add-to-game'])
        {
            $(".loadable-game-select").click(function (event) {
                var gameid = event['currentTarget']['id'].slice(14);
                console.log(gameid);
                add_actor_to_game(gameid, options['actor-id'])
            });
        }

    }

    //Sets up a menu for selecting from one of your existing actors. Action
    //on choosing an actor can be controled via options.
    function setup_actor_select_menu(options)
    {
        var data;
        var header;

        if (options['copy'])
        {
            refresh_actor_cache(options['user']);
            data = mainMenuCache[options['user']+'-actors'];
            header = "Select on of " + options['user']+"'s Actors to copy!"
        }
        else
        {
            refresh_actor_cache();
            data = mainMenuCache['my-actors'];
            header = "Select an Actor!"
        }

        flush_mainmenu();
        var actor_list = [];
        for (var i = 0; i < data.length; i++)
        {
            actor_list.push("<button type='button' class='list-group-item modifyable-actor-select' " +
                    "id='modifyable-actor-"+data[i]['id']+"'>" + data[i]['title'] + "</button>")
        }

        if (actor_list.length == 0)
        {
            $mainmenu_content.html("You have no actors");
        }

        $mainmenu_header.html(header);
        $mainmenu_scroller.html(actor_list.join(""));
        $mainmenu.show();
        $mainmenu_scroller.show();

        if (options['modify'])
        {
            $(".modifyable-actor-select").click(function(event){
                setup_modifyactor_edit_menu(event.target.id)
            })
        }
        else if (options['add-to-game'])
        {
            $(".modifyable-actor-select").click(function(event) {
                var actor_id = event['currentTarget']['id'].slice(17);
                setup_game_select_menu({ "add-to-game": true, 'actor-id': actor_id});
            });
        }
        else if (options['copy'])
        {
            $(".modifyable-actor-select").click(function(event) {
                var actor_id = parseInt(event['currentTarget']['id'].slice(17));
                var users_actors = mainMenuCache[options['user']+"-actors"];
                var selected_actor;
                for (var i = 0; i < users_actors.length; i ++)
                {
                    if (users_actors[i].id === actor_id)
                    {
                        selected_actor = users_actors[i];
                        break;
                    }
                }
                create_newactor(selected_actor['title'], selected_actor['behaviour_script']);
            });
        }
    }

    function setup_user_select_menu(options)
    {
        flush_mainmenu();
        var data;
        $.ajax({
            type: "get",
            url: "/users/?notme=True",
            async: false,
            contentType:"application/json",
            statusCode: {
                200: function(resp)
                {
                    console.log("Fetched info from Ajax.");
                    data = resp;
                }
            }
        });
        console.log(data);
        var user_list = [];
        for (var i = 0; i < data.length; i++)
        {
            user_list.push("<button type='button' class='list-group-item user-select' " +
                    "id='user-"+data[i]['username']+"'>" + data[i]['username'] + "</button>")
        }

        if (user_list.length == 0)
        {
            $mainmenu_content.html("There are no other users!");
        }

        $mainmenu_header.html("Select a User to copy from.");
        $mainmenu_scroller.html(user_list.join(""));
        $mainmenu.show();
        $mainmenu_scroller.show();

        if (options['copy'])
        {
            $(".user-select").click(function(event){
                setup_actor_select_menu({'copy': true, 'user': event.target.textContent});
            })
        }
    }


    //Generate and display the createactor menu screen.
    function setup_createactor_menu()
    {
        flush_mainmenu();
        var lines = [];
        lines.push("<div class='input-group'>");
        lines.push("<span class='input-group-addon'>Actor Name</span>");
        lines.push("<input type='text' class='form-control' id='new-actor-name' placeholder='Geoffry'>");
        lines.push("</div><br>");
        $mainmenu_content.html(lines.join(""));

        $mainmenu_header.html("Create Actor");
        $mainmenu_buttons.html("<button class='btn btn-default' id='new-actor-validate-btn'>Validate Script</button>" +
                "<button class='btn btn-default' id='new-actor-create-btn'>Create Actor</button>");
        $mainmenu.show();
        make_actor_editor();
        $("#new-actor-script").val("if myhunger < 40\nthen\n    do\n    walk(NORTH);\n    done\nendif");


        //Validates the actor's name and script. `create` arg can be used to also create the actor.


        // Listener for button to validate the actor.
        $("#new-actor-validate-btn").click(function(event){
            validate_newactor({'create': false})
        });

        //Listener to create the new actor.
        $("#new-actor-create-btn").click(function (event)
        {
            validate_newactor({'create': true})
        })
    }


    function setup_modifyactor_edit_menu(target_id)
    {
        var actor_id = target_id.slice(17);
        var original_name = null;

        $mainmenu_scroller.html("");
        var lines = [];
        lines.push("<div class='input-group'>");
        lines.push("<span class='input-group-addon'>Actor Name</span>");
        lines.push("<input type='text' class='form-control' id='new-actor-name' placeholder='Geoffry'>");
        lines.push("</div><br>");
        $mainmenu_buttons.html("<button class='btn btn-default' id='new-actor-validate-btn'>Validate Script</button>" +
                "<button class='btn btn-default' id='new-actor-create-btn'>Modify Actor</button>");
        $mainmenu_content.html(lines.join(""));
        $mainmenu.show();
        make_actor_editor();

        refresh_actor_cache();
        var data = mainMenuCache['my-actors'];
        var actor_int = parseInt(actor_id);
        for (var i = 0; i < data.length; i++)
        {
            if (data[i].id === actor_int)
            {
                $("#new-actor-name").val(data[i]['title']);
                original_name = data[i]['title'];
                $("#new-actor-script").val(data[i]['behaviour_script']);
                break;
            }
        }

        $("#new-actor-validate-btn").click(function(event)
        {
            validate_newactor({'original_name': original_name})

        });
        $("#new-actor-create-btn").click(function(event)
        {
            validate_newactor({'original_name': original_name, 'url': "/actor/"+actor_id})
        })
    }

    /*Create a textarea with line numbers and smart-tabbing in the mainMenu.*/
    function make_actor_editor()
    {
        var lines = [];
        lines.push("<b>Behaviour Script</b><br>");
        lines.push("<a href='/syntaxHelp' target='_blank'>Syntax Help</a>");
        lines.push("<textarea class='actor-script-input' cols='50' id='new-actor-script'></textarea><br>");
        $mainmenu_content.append(lines.join(""));
        $("#new-actor-script").linedtextarea();
        $("#new-actor-script").keydown(function (e)
        {
            if (e.keyCode !== 9)
            {
                return;
            }
            else {
                e.preventDefault();
            }

            var $this, end, start, line_end, line_start;
            start = this.selectionStart;
            end = this.selectionEnd;
            $this = $(this);
            var val = $this.val();

            var i = start;
            while (val[i] !== '\n' && i > 0)
            {
                i--;
            }
            line_start = i;

            i = end;
            while(val[i] !== '\n' && i < val.length)
            {
                i++
            }
            line_end = i;

            var lines = $this.val().substring(line_start, line_end).split('\n');
            var altered = 0;

            if (e.keyCode === 9  && e.shiftKey)
            {
                for(var i=0; i<lines.length; i++)
                {
                    if(lines[i])
                    {
                        for(var j=0; j<lines[i].length && j < 4 && lines[i][j] ===' '; j++);
                        altered += j;
                        lines[i] = lines[i].substring(j);
                    }
                }
                $this.val($this.val().substring(0, line_start) + lines.join("\n") + $this.val().substring(line_end));
                if (start === end)
                {
                    this.selectionStart = this.selectionEnd = start-altered;
                }
                else {
                    this.selectionStart = start;
                    this.selectionEnd = end - altered;
                }
            }
            else if(e.keyCode === 9)
            {
                if(start===end)
                {
                    $this.val($this.val().substring(0, start) + "    " + $this.val().substring(end));
                    this.selectionStart = this.selectionEnd = start+4;
                    return false
                }

                for(var i=0; i<lines.length; i++)
                {
                    if(lines[i])
                    {
                        altered += 4;
                        lines[i] = "    " + lines[i];
                    }
                }
                $this.val($this.val().substring(0, line_start) +lines.join("\n")+ $this.val().substring(line_end));

                if (start === end)
                {
                    this.selectionStart = this.selectionEnd = start + 4;
                }
                else {
                    this.selectionStart = start;
                    this.selectionEnd = end + altered;
                }

            }
            return false
        });
    }

    //Send an asynchronous request to create an actor, and record the result in the mainMenu.
    function create_newactor(nameval, scriptval)
    {
        if (nameval === undefined)
        {
            nameval = $("#new-actor-name").val();
        }
        if (scriptval === undefined)
        {
            scriptval = $("#new-actor-script").val();
        }

        $.ajax({
            type: "post",
            url: "/actors/",
            data: {'behaviour_script': scriptval, 'title': nameval},
            success: function (data) {
                draw_status_menu("Success!", "Actor was created!");
            },
            failure: function(data) {
                draw_status_menu("Failed!!", "Something went wrong... Your actor was not created.");
            },
            complete: function(data)
            {
                mainMenuCache['my-actors'] = null;
                mainMenuCache['my-actors-names'] = null;
            }
        });
    }
    //Send an asynchronous request to modify an actor, and record the result in the mainMenu.
    function modify_actor(name, script, url) {
        $.ajax({
            type: "patch",
            url: url,
            data: {'title': name, 'behaviour_script': script},
            success: function (data) {
                draw_status_menu("Success!", "Actor modified successfully!");
            },
            failure: function(data) {
                draw_status_menu("Failed!!", "Something went wrong... Your actor was not modified.");
            },
            complete: function(data)
            {
                mainMenuCache['my-actors'] = null;
                mainMenuCache['my-actors-names'] = null;
            }
        });
    }

    /*Use backend to validate the script that is currently in the new-actor-script textarea.
    * Report results to mainmenu-content2. */
    function validate_newactor(modify_dict)
    {
        if(modify_dict === null)
        {
            modify_dict = {};
        }
        var namehash = mainMenuCache['my-actors-names'];
        var nameval = $("#new-actor-name").val();
        var scriptval = $("#new-actor-script").val();

        if (namehash[nameval] && nameval != modify_dict['original_name'])
        {
            $mainmenu_content2.html("Error: You already have an actor named '" + nameval+"'.");
        }
        else if (! nameval)
        {
            $mainmenu_content2.html("Error: Actor needs a name.");
        }
        else
        {

            $.ajax({
                type: "post",
                url: "/syntax-checker/",
                data: {'script': scriptval},
                statusCode: {
                    200: function(data)
                    {
                        if (data['error'])
                        {
                            $mainmenu_content2.html(data['error']);
                        }
                        else
                        {
                            if(modify_dict['create']) {
                                create_newactor();
                            }
                            else if (modify_dict['url'])
                            {
                                modify_actor(nameval, scriptval, modify_dict['url'])
                            }
                            else
                            {
                                $mainmenu_content2.html("Syntax OK");
                            }
                        }
                    }
                }
            });
        }
    }

    function setup_creategame_menu(data)
    {
        flush_mainmenu();
        $mainmenu_scroller.hide();
        $mainmenu_header.html("Create a Game.");
        $mainmenu_content.html("Choose a memorable name for your new game.<br><br>");

        var lines = [];
        lines.push("<div class='input-group'>");
        lines.push("<span class='input-group-addon'>Game Name</span>");
        lines.push("<input type='text' class='form-control' id='new-game-name' placeholder='Great new fun-game.'>");
        lines.push("</div>");
        $mainmenu_content.append(lines.join(""));
        $mainmenu_buttons.html("<button class='btn btn-default' id='new-game-create-btn'>Create</button>");
        $mainmenu.show();

        $("#new-game-create-btn").click(function(event){
            var game_name = $("#new-game-name").val();
            if (! game_name)
            {
                $mainmenu_content2.html("<br>You game needs some name!");
                return;
            }
            for(var i = 0; i < data.length; i++){
                if (data[i].title === game_name)
                {
                    $mainmenu_content2.html("<br>You already have a game with that name!");
                    return
                }

            }
            $.ajax({
                type: "post",
                url: "/games/",
                data: {'title': game_name},
                success: function (data) {
                    draw_status_menu("Success!", "New game created!");
                },
                failure: function(data) {
                    draw_status_menu("Failed!!", "Something went wrong... Your game was not created.");
                },
                complete: function(data)
                {
                    mainMenuCache['my-games'] = null;
                }
            });

        })
    }

    //Add the actor, then clear the menu.
    function add_actor_to_game(gameid, actorid)
    {
        $.ajax({
            type: "patch",
            url: "/game/" + gameid +"/",
            data: {'id': actorid, 'action': 'add', 'type': 'actor'},
            success: function (data) {
                draw_status_menu("Success!", "Added actor to game!");
            },
            failure: function(data) {
                draw_status_menu("Failed!!", "Something went wrong... Your actor was not added.");
            },
            complete: function(data)
            {
                mainMenuCache['my-actors'] = null;
                mainMenuCache['my-actors-names'] = null;
            }
        });
    }


    $mainmenu.hide();
    $("#closed-sidemenu").hide();
    $("#opened-actorinfo").hide();
    $("#pause-game-btn").addClass("disabled");
    $("#cell-stats").hide();
});
</script>

<canvas id="simulation-render-target"></canvas>
<div class="sim-ui-container container">

    <div class="col-xs-1 fill">
        <div class = "cell-statinfo sim-ui-element" id = "cell-stats">
            <button type="button" class="close" id="close-stats">×</button>
            <h3>Cell Status</h3>
            <span> Coordinates: </span><span id = "coords"></span><hr>
            <span> Elevation: </span><span id = "elevation"></span><hr>
            <span> CellType: </span><span id = "cell-type"></span><hr>
            <div id="stat-listing"></div>
        </div>
    </div>
    <div class="col-xs-8 fill" id="mainmenu-col">
        <div class="main-menu sim-ui-element" id="mainmenu">
            <button type="button" class="close" id="close-mainmenu">×</button>
            <h3 id="mainmenu-header">Main Menu </h3>
            <hr>
            <ul class="list-group scrollable-menu" id="mainmenu-scroller">
                <button type="button" class="list-group-item">1</button>
                <button type="button" class="list-group-item">1</button>
                <button type="button" class="list-group-item">1</button>
                <button type="button" class="list-group-item">1</button>
                <button type="button" class="list-group-item">1</button>
                <button type="button" class="list-group-item">1</button>
                <button type="button" class="list-group-item">1</button>
                <button type="button" class="list-group-item">1</button>
            </ul>
            <div id="mainmenu-content">
                <ul>
                    <li>First thing.</li>
                    <li>Next thing.</li>
                </ul>
            </div>

            <div id="mainmenu-content2"></div>
            <hr>
            <div id="mainmenu-buttons" class="container">

            </div>

        </div>
    </div>
    <div class="col-xs-3 fill" id="sidemenu-col" style="padding: 0">
        <div class="opened-sidemenu sim-ui-element" id="opened-sidemenu">
            <ul class="nav nav-tabs" id="side-menu-tabs">
                <li role="presentation" class="active" id="side-main-menu-tab"><a href="#side-main-menu" data-toggle="tab">Menu</a></li>
                <li role="presentation" class="disabled" id="side-game-menu-tab"><a href="#side-game-menu" data-toggle="tab">Game</a></li>
            </ul>
            <br>
            <div class="tab-content">
                <div id='side-main-menu' class="tab-pane active">
                    <a href='/syntaxHelp/setup#setup' target='_blank'>How to Start Playing</a>
                    <button class="btn btn-default btn-sidemenu" id="create-game-side-btn">Start New Game</button>
                    <button class="btn btn-default btn-sidemenu" id="load-game-side-btn">Load Game</button>
                    <button class="btn btn-default btn-sidemenu" id="spectate-game-side-btn">Spectate Game</button>
                    <hr>
                    <button class="btn btn-default btn-sidemenu" id="create-actor-side-btn">Create Actor</button>
                    <button class="btn btn-default btn-sidemenu" id="modify-actor-side-btn">Modify Actor</button>
                    <button class="btn btn-default btn-sidemenu" id="copy-actor-side-btn">Copy an Actor</button>
                    <button class="btn btn-default btn-sidemenu" id="add-actor-side-btn">Add Actor to Game</button>
                    <hr>
                </div>
                <div id='side-game-menu' class="tab-pane">
                    <p id="loaded-game-info"></p>
                    <button id="advance-btn" class="btn btn-default btn-sidemenu">Advance Simulation</button>
                    <button id="reverse-btn" class="btn btn-default btn-sidemenu">Reverse Simulation</button>
                    <hr>
                    <button class="btn btn-default btn-sidemenu" id="pause-game-btn">Pause</button>
                    <button class="btn btn-default btn-sidemenu" id="resume-game-btn">Play</button>
                    <button class="btn btn-default btn-sidemenu" id="smell-on-btn">Show Smells</button>
                    <button class="btn btn-default btn-sidemenu" id="smell-off-btn">Hide Smells</button>

                </div>
            </div>
        </div>
    </div>

    <div class="push-to-bottom sim-ui-element">
        <button class="btn btn-default sim-ui-element" id="open-sidemenu">Open Menu</button>
    </div>
    <div class="push-to-bottom sim-ui-element">
        <button class="btn btn-default" id="close-sidemenu">Close Menu</button>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="toolbar-bottom" class="sim-ui-element">
                <div class="btn-group">
                    <label id="add-raise" class="modifier selected radio-inline btn btn-primary">Add/Raise</label>
                    <label id="delete-lower" class="modifier radio-inline btn btn-primary">Delete/Lower</label>
                </div>
                <div class="btn-group">
                    <label id="camera" class="tool selected radio-inline btn btn-default">Camera</label>
                    <label id="inspect" class="tool radio-inline btn btn-default">Inspect</label>
                    <label id="terrain" class="tool radio-inline btn btn-default">Terrain</label>
                    <label id="grass" class="tool radio-inline btn btn-default">Grass</label>
                    <label id="rock" class="tool radio-inline btn btn-default">Rock</label>
                    <label id="water" class="tool radio-inline btn btn-default">Water</label>
                    <label id="plant" class="tool radio-inline btn btn-default">Plant</label>
                    <label id="mushroom" class="tool radio-inline btn btn-default">Mushroom</label>
                    <label id="wall" class="tool radio-inline btn btn-default">Wall</label>
                    <label id="block" class="tool radio-inline btn btn-default">Block</label>
                    <label id="actor" class="tool radio-inline btn btn-default">Actor</label>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
