{% extends "base/common.html" %}

{% block container %}
<style>
  body{padding: 50px 0;overflow: scroll}
  h1{font-weight: bold;}
  h3{font-style: italic;}
  ul.nav-stacked{position:fixed;}
  #nav-content{padding-top: 10px;}
  #introBtn{
    width:250px;
    height:40px;
  }
  #beginBtn{
    width:250px;
    height:40px;
  }
  #actionBtn{
    width:225px;
    height:40px;
  }
  #infoBtn{ 
    width:225px;
    height:40px;
  }

  #text-content{
    z-index: -1;
    padding-top: 40px;
  }
  #title {
    padding-top: 0px;
    font-size: 50px;
  }
  #text-content > div {
    padding-top: 35px;
  }

</style>

<body data-spy="scroll" data-target="#tutorialButtons" data-offset="20">
  	<div class="container">
    	<div class="row">
      		<nav class="col-sm-3" id="tutorialButtons">
        		<ul class="nav nav-stacked" id = "nav-content">
          			<li><a href="#intro" id = "introBtn">Intro</a></li>
          			<li><a href="#start" id = "beginBtn">How to Begin</a></li>
                    <li><a href="#keywords" id = "beginBtn">Keywords and Structure</a></li>
                    <li>
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-dropdown ">Actions <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id = "drop-menu">
                            <li><a href="#attack">Attack</a></li>
                            <li><a href="#drop">Drop</a></li>
                            <li><a href="#eat">Eat</a></li>
                            <li><a href="#flee">Flee</a></li>
                            <li><a href="#harvest">Harvest</a></li>
                            <li><a href="#pickup">Pickup</a></li>
                            <li><a href="#scavenge">Scavenge</a></li>
                            <li><a href="#sleep">Sleep</a></li>
                            <li><a href="#walk">Walk</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-dropdown ">Functions/Variables <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id = "drop-menu">
                            <li><a href="#direction">direction()</a></li>
                            <li><a href="#nearest">nearest()</a></li>
                            <li><a href="#MY_DIRECTION">MY_DIRECTION</a></li>
                            <li><a href="#MY_HEALTH">MY_HEALTH</a></li>
                            <li><a href="#MY_HUNGER">MY_HUNGER</a></li>
                            <li><a href="#MY_LOCATION">MY_LOCATION</a></li>
                            <li><a href="#SLEEPING">SLEEPING</a></li>
                            <li><a href="#HOLDING_FOOD">HOLDING_FOOD</a></li>
                            <li><a href="#HOLDING_ROCK">HOLDING_ROCK</a></li>
                        </ul>
                    </li>
        		</ul>
      		</nav>
     	<div class="col-sm-9" id = "text-content">
          <h1 id = "title"> AI Scripting Tutorial </h1>
        	<div id="intro">
          	<h1>Intro</h1>
         		<p>In this tutorial, you will learn how to create your own AI script. This script is what will control your avatar throughout the game. The more complex you make it, the more interesting your avatar will become. By scrolling through this page, you will find all the necessary information to correctly write code for your avatar. At any time, you can press on the sidebar buttons to jump forward to any section of your choice. Once the tutorial is finished, close the tab and return to the Create Actor window to implement everything you've just learned.</p>
        	</div> 
        	<div id="start">
        		<h1>How to Begin</h1>
        		<p>For your AI script to function properly, you must write it in such a way that our program can understand it. Think of our program as a dog. Unfortunately, it only knows certain commands. If you ask it to do something that is not in its vocabulary, it will not understand and return an error. These commands must also be written in such a way so that they make sense syntatically. If you are continually getting error messages, be sure to refer back to this page to ensure that you are adhering to all the necessary syntax structure and format of your script as outlined in this help page. Much of the fun from this simulation will come from experimenting with many different styles of AI scripts! </p>
      		</div>
          <div id = "keywords">
            <h1> Keywords and Structure </h1>
            <p>The AI script acts as a series of conditional statements combined with pre-determined action and attribute keywords. 
            </p>
              <ul>
                <li>
                    Flow Control 
                    <ul>
                        <li><code>and</code></li>
                        <li><code>or</code></li>
                        <li><code>if</code></li>
                        <li><code>not</code></li>
                        <li><code>then</code></li>
                        <li><code>endif</code></li>
                        <li><code>do</code></li>
                        <li><code>done</code></li>
                        <li><code>is</code></li>
                        <li><code>true</code></li>
                        <li><code>false</code></li>
                    </ul>
                </li>
              </ul>
              <ul>
                <li>
                    Symbols 
                    <ul>
                        <li> Left Parentheses <code>(</code> </li>
                        <li> Right Parentheses <code>)</code> </li>
                        <li> Semi-colon <code>;</code> </li>
                        <li> Comma <code>,</code> </li>
                        <li> Addition <code>+</code> </li>
                        <li> Subtraction <code>-</code> </li>
                        <li> Multiplication <code>*</code> </li>
                        <li> Division <code>/</code> </li>
                        <li> Less than <code><</code> </li>
                        <li> Less than or Equal <code><=</code> </li>
                        <li> Greater than <code>></code> </li>
                        <li> Greater than or Equal <code>>=</code> </li>
                        <li> Equality Check <code>==</code> </li>
 
                    </ul>
                </li>
              </ul>
              <ul>
                <li>
                    Attributes
                    <ul>
                        <li> <code>NORTH</code></li>
                        <li> <code>SOUTH</code> </li>
                        <li> <code>EAST</code> </li>
                        <li> <code>WEST</code></li>
                        <li> <code>WATER</code> </li>
                        <li> <code>ACTOR</code> </li>
                        <li> <code>PLANT</code> </li>
                        <li> <code>FOOD</code></li>
                        <li> <code>ROCK</code></li>
                    </ul>
                </li>
              </ul>
              Example script structure:
              <xmp>
                if nearest(WATER) == MY_LOCATION
                then
                  do
                    walk(NORTH);
                  done
                endif

                if true
                then
                    do
                      walk(direction(nearest(WATER)));
                    done
                endif
              </xmp>
              Referring to the example above, take note of the following rules regarding script syntax:
              <ul>
                <li> All calls to an action end with a semicolon </li>
                <li> 'do' and 'done' enclose all resulting actions from a conditional evaluation </li>
                <li> Note that we start with a conditional 'if'. The second block of script evaluates if the above condition evaluates to true </li>
                <li> 'then' must follow any conditional, to tell the script what to do if a conditional is fulfilled </li>
                <li>  All directions and cell attributes are in upper case</li>
                <li> Adhering to the above structure, one can stack together multiple conditional statements to allow their AI to adapt to certain situations in the simulation </li>
              </ul>
          </div>
      		<div id="actionFunctions">
        		<h1>Action Words</h1>
        		<p>The following words are actions that the actor can perform. They can be utilized in a variety of ways to help your avatar surive in the world. Each action will have an accompanying example in the scripting language to help better understand how it is used. These words will generally only occur within a do - done block. </p>
      		</div>
      		<div class "actionWords" id="attack">
        		<h3>Attack</h3>
        		<p>Attack in the direction that your avatar is facing. Attacking another avatar will cause that avatar to lose health.</p>
            Example usage:
            <xmp>
              attack();
            </xmp>
      		</div>
      		<div class "actionWords" id="drop">
        		<h3>Drop</h3>
        		<p>Drop (if possible) whatever the actor is holding, in the direction that the actor is currently facing</p>
            Example usage:
            <xmp>
              drop();
            </xmp>
      		</div>
      		<div class "actionWords" id="eat">
        		<h3>Eat</h3>
        		<p>If you are currently holding food, actor will eat, and thus regenerate health.</p>
            Example usage (combined):
            <xmp>
              if MY_HEALTH < 10
              then
                do
                  eat();
                done
              endif
            </xmp>
      		</div>
      		<div class "actionWords" id="flee">
        		<h3>Flee</h3>
        		<p>Action performs the opposite of a list of directions to something. </p>
            Example usage:
            <xmp>
              if nearest(DANGER) == MY_LOCATION
              then
                do
                 flee();
                done
              endif            
            </xmp>
      		</div>
      		<div class "actionWords" id="harvest">
        		<h3>Harvest</h3>
        		<p>Attempt to harvest in the direction that you are facing.</p>
            Example usage:
            <xmp>
              harvest();
            </xmp>
      		<div  class "actionWords" id="pickup">
        		<h3>Pickup</h3>
        		<p> Attempt to pickup an object in the direction that you are facing. If no object is present nothing happens</p>
            Example usage:
            <xmp>
              pickup();
            </xmp>
      		</div>
      		<div class "actionWords" id="scavenge">
        		<h3>Scavenge</h3>
        		<p> Search for the nearest food source. </p>
            Example usage:
            <xmp>
              if MY_HEALTH == 10
              then
                  do
                    scavenge();
                  done
              endif
            </xmp>
      		</div>
      		<div class "actionWords" id="sleep">
        		<h3>Sleep</h3>
        		<p> Puts your avatar to sleep, for a specified amount of time</p>
            Example usage:
            <xmp>
              sleep();
            </xmp>
      		</div>
      		<div class "actionWords" id="walk">
        		<h3>Walk</h3>
        		<p>Takes in a list of directions as an argument and performs them. The list can also be only one direction. </p>
            Example usage:
            <xmp>
              walk(NORTH);
            </xmp>
            <xmp>
              walk(direction(nearest(FOOD)));
            </xmp>
      		</div>
      		<div id="actorInformation">
        		<h1>Actor Information</h1>
        		<p>The following words are available to obtain characteristics of the current actor. They are useful to use as the 'conditionals' in your script. For example: 'if MY_HEALTH > 50'. The examples given will show their potential usage in conditionals and various situations </p>
      		</div>

            <div class "actionWord"  id="direction">
            <h3>direction</h3>
            <p>Returns a list of directions to a specific coordinate. Accepts a tuple. Example calls: direction(nearest(WATER)), or direction (0 , 5). The first example will give you a list of directions to the nearest water element. The second will give you a list of directions to location (0,5) on the map.</p>
            Example usage (combined):
            <xmp>
                direction(1,0) := [NORTH]
                direction(nearest(FOOD)) := [NORTH, WEST]
            </xmp>
            </div>

            </div>
            <div class "actionWords" id="nearest">
            <h3>nearest()</h3>
            <p>Returns the coordinate of the nearest cell with the specified attribute.</p>
            Example usage in conditional and resulting action
            <xmp>
                if nearest(WATER) == MY_LOCATION;
            </xmp>
            <xmp>
                walk(direction(nearest(DANGER)));
            </xmp>
            </div>

      		<div id="MY_DIRECTION">
        		<h3>MY_DIRECTION</h3>
        		<p>Gives the direction that the current actor is facing. </p>
            Example usage:
            <xmp>
              if MY_DIRECTION == NORTH
            </xmp>
      		</div>
      		<div id="HOLDING_FOOD">
        		<h3>HOLDING_FOOD</h3>
        		<p>Returns 'True' if the current actor is holding food. Otherwise will return 'False'.</p>
            Example usage:
            <xmp>
              if HOLDING_FOOD == true
              then
                do
                  eat();
                done
              endif
            </xmp>
      		</div>
      		<div id="MY_HEALTH">
        		<h3>MY_HEALTH</h3>
        		<p>Returns the current health of the actor</p>
            Example usage:
            <xmp>
              if MY_HEALTH >= 40
            </xmp>
      		</div>
      		<div id="MY_LOCATION">
        		<h3>MY_LOCATION</h3>
        		<p>Returns the current location of the actor in the form of a 2-tuple of integers</p>
            Example usage:
            <xmp>
              if nearest(WATER) == MY_LOCATION
            </xmp>
      		</div>
      		<div id="SLEEPING">
        		<h3>SLEEPING</h3>
        		<p>Returns 'True' if the actor is SLEEPING, otherwise will return 'False'</p>
            Example usage:
            <xmp>
              if SLEEPING == false
              then
                do
                  sleep();
                done
              endif
            </xmp>
      		</div>
      		<div id="HOLDING_ROCK">
        		<h3>HOLDING_ROCK</h3>
        		<p>Returns 'True' if the actor is holding a rock, otherwise will return 'False'.</p>
            Example usage:
            <xmp>
              if HOLDING_ROCK == true
              then
                do 
                  drop();
                done
              endif
            </xmp>
      		</div>
    	</div>
  	</div>
</body>

{% endblock %}